parameters:
    checkMissingIterableValueType: false
    bootstrapFiles:
        - phpstan-bootstrap.php
    stubFiles:
        - stubs/BasketModel.stub
        - stubs/OrderModel.stub
        - stubs/PaymentModel.stub
        - stubs/StartController.stub
        - stubs/ViewConfig.stub
        - stubs/OrderListController.stub
    level: max
    scanFiles:
        - ../../vendor/oxid-esales/oxideshop-ce/source/oxfunctions.php
        - ../../vendor/oxid-esales/oxideshop-ce/source/overridablefunctions.php
