# changes of .env must be uploaded to the github secrets
# please avoid whitespaces in the values
# the quotes are currently not working in the git flow
CREDITCARDNAME="MaxMustermann"
CREDITCARDNUMBER=123456789
CREDITCARDCVC=000
CREDITCARDDATE=01/70
CREDITCARDTYPE=Visa

PAYPAL_USER=example@example.com
PAYPAL_PWD=password_here

ADYEN_API_KEY=[api-key-from-adyen]
ADYEN_CLIENT_KEY=[client-key-from-adyen]
ADYEN_MERCHANT_ACCOUNT=[merchant-account-from-adyen]